<md-card class="width">
  <md-card-title>
    <div fxFlex>
      <button md-raised-button color="primary" (click)="this.location.back()">
        <md-icon class="tc-white-700">arrow_back</md-icon>Back
      </button>
    </div>
    <div class="text-center" fxFlex="100">
      {{workGroup?.mpCategory}} - {{workGroup?.defaultName}}
    </div>
  </md-card-title>

  <md-divider></md-divider>

  <md-list>
    <md-list-item>
      <div fxFlex="80"></div>
      <div *ngFor="let category of categoriesToDisplay" fxFlex="20" class="pad-sm text-center tc-black text-lg">
        {{category}} Flight
      </div>
    </md-list-item>

    <md-divider></md-divider>

    <ng-template let-member let-last="last" ngFor [ngForOf]="rosterInfos">

      <md-list-item>

        <md-icon md-list-avatar>person</md-icon>
        <div fxFlex="80" class="md-subhead text-left pad-sm">
          {{member?.rankName}}
        </div>

        <div fxFlex="20" *ngFor="let category of categoriesToDisplay" class="md-subhead text-center pad-sm">
          {{(member?.flights[category]) ? member?.flights[category] : 'None'}}
        </div>
        <div fxFlex></div>
      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>


    </ng-template>

  </md-list>

</md-card>


<!-- <md-card class="width">
    <md-card-title>
      <div>
          <button md-raised-button color="primary" [routerLink]="['../..']">
              <md-icon class="tc-white-700">arrow_back</md-icon>Back to WorkGroups
          </button>
      </div>
      <div fxFlex class="text-left">
         {{workGroup?.mpCategory}} - {{workGroup?.defaultName}}
      </div>
    </md-card-title>
    <md-divider></md-divider>
  <md-list fxFlex="100">
  <md-list-item>
    <span fxFlex="60">Student</span>
    <span fxFlex="20">BC2 Flight</span>
    <span fxFlex="20">BC3 Flight</span>
  </md-list-item>
    <md-divider></md-divider>

    <ng-template let-member let-last="last" ngFor [ngForOf]="groupMembers">
      <md-list-item>
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line> {{member?.rankName}} </h3>

      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </md-list>
</md-card> -->