<!--<td-message label="Error!" sublabel="You did something wrong!" color="warn" icon="error"></td-message>-->
<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <!--<div *ngIf="roadRunnerInfos?.length > 0">-->
  <td-message *ngIf="signedOut" label="Signed Out" sublabel="To veiw all saved locations, you must sign in." color="accent" icon="info"></td-message>
  <!--<div>-->
    <md-toolbar td-sidenav-content *ngIf="!signedOut">
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span class="md-title">Future locations to check out</span>
      </div>
    </md-toolbar>
    <!--<div *tdLoading="'roadRunnerLoading'">-->
      <md-list class="will-load">
        <div *ngIf="roadRunnerInfos?.length > 0">
            <!--<td-message label="Signed Out" sublabel="To veiw all saved locations, you must sign in." class="bgc-blue-100" icon="info"></td-message>-->

          <ng-template let-rrData let-last="last" ngFor [ngForOf]="roadRunnerInfos">
            <div  *ngIf="(!rrData?.prevSignOut && rrData?.signOut) || (!rrData?.prevSignOut && !rrData?.signedOutSomewhere) " fxShow fxHide.xs="true" #row fxLayout="row" fxLayoutGap="20px">
              <!--<div *ngIf="rrData?.signOut">-->
              <md-list-item fxFlex="100%">
                <h4 md-line *ngIf="rrData.splitLocation.length > 1" [ngClass]="{'highlight': rrData?.signOut == true}"> {{rrData?.splitLocation[0]}} </h4>
                <p md-line *ngIf="rrData.splitLocation.length > 1" [ngClass]="{'highlight': rrData?.signOut == true}">{{rrData?.splitLocation[1]}}</p>
                <h4 md-line *ngIf="rrData.splitLocation.length === 1" [ngClass]="{'highlight': rrData?.signOut == true}"> {{rrData?.splitLocation[0]}}</h4>
                <p md-line></p>
            <span fxFlex="30">
                <div class="md-caption tc-grey-500">
                  Start Date: 
                  <span [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }}</span>
            </div>
            </span>

              <span fxFlex="30">
                <div class="md-caption tc-grey-500">
                  Return Date: 
                  <span [innerHtml]="rrData?.returnDate | date:'dd MMM yyyy'">{{ rrData?.returnDate }}</span>
            </div>
            </span>

        <div fxFlex="10">
          <md-menu #appMenu="mdMenu" yPosition="below" xPosition="before">
            <button *ngIf="!rrData?.signOut && !rrData?.prevSignOut && !rrData?.signedOutSomewhere" md-menu-item (click)="signOutButton(rrData)"> 
              <md-icon> directions_run</md-icon>
              <span class="md-subhead"> Sign Out </span>
            </button>
            <button *ngIf="rrData?.signOut" md-menu-item (click)="signOutButton(rrData)"> 
              <md-icon> keyboard_return </md-icon>
              <span class="md-subhead"> Sign In </span>
            </button>
            <button md-menu-item [routerLink]="[rrData.id]"> 
              <md-icon> edit </md-icon>
              <span class="md-subhead"> View/Edit </span>
            </button>
          </md-menu>

          <button md-icon-button [mdMenuTriggerFor]="appMenu">
            <md-icon>more_vert</md-icon>
          </button>
        </div>


            <!--<div class="example-button-row" >
              <span style="padding-right:10px;">
                <button *ngIf="!rrData?.signOut && !rrData?.prevSignOut && !rrData?.signedOutSomewhere" md-raised-button color="primary" (click)="signOut(rrData)">Sign Out</button>
              <button *ngIf="rrData?.signOut" md-raised-button color="primary" (click)="signOut(rrData)">Sign In</button>
              </span>
                    <button *ngIf="rrData?.signedOutSomewhere && !rrData?.signedOut" style="justify-content: center;" md-raised-button color="primary" [routerLink]="[rrData.id]" >View/Edit</button>
                    <button *ngIf="!rrData?.signedOutSomewhere || rrData?.signedOut" md-raised-button color="primary" [routerLink]="[rrData.id]" >View/Edit</button>

            </div>-->
            
            </md-list-item>
              <!--</div>-->
        </div>

<!--show when screen is small-->

      <div *ngIf="!rrData?.prevSignOut" fxHide fxHide.xs="false" #row fxLayout="row" fxLayoutGap="20px">
        <md-list-item fxFlex="100%">
                <h4 md-line *ngIf="rrData.splitLocation.length > 1"> {{rrData?.splitLocation[0]}} </h4>
                <p md-line *ngIf="rrData.splitLocation.length > 1">{{rrData?.splitLocation[1]}}</p>
                <h4 md-line *ngIf="rrData.splitLocation.length === 1"> {{rrData?.splitLocation[0]}}</h4>
                <p md-line></p>
                <p md-line class="md-caption" [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }} </p>
                <span md-line>
                  <a md-icon-button  color="primary" [routerLink]="[rrData.id]">
                    <md-icon >edit</md-icon>
                  </a>
                  <a *ngIf="!rrData?.signOut && !rrData?.prevSignOut && !rrData?.signedOutSomewhere" md-icon-button  color="primary" (click)="signOutButton(rrData)">
                    <md-icon >directions_run</md-icon>
                  </a>
                  <a *ngIf="rrData?.signOut" md-icon-button  color="primary" (click)="signOutButton(rrData)">
                    <md-icon >keyboard_return</md-icon>

                  </a>
                </span>

        </md-list-item>

      </div>

      <div *ngIf="!rrData?.prevSignOut && !rrData?.signedOutSomewhere">
      <md-divider *ngIf="!last" md-inset></md-divider>
      </div>
        </ng-template>

    </div>

    <div *ngIf="roadRunnerInfos.length === 0">
      
      <span class="md-title">You have no locations to sign out to</span>
    </div>

    </md-list>
    <!--</div>-->
  </md-card>
