.button-row{
    
    padding-right: 10px;
    text-align: center;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 10px;
  font-size: 40px;
  //background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  //color: $light;
}


.example-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  //justify-content: space-between;
  //justify-content:space-around;
}