<td-layout-nav logo="assets:covalent" toolbarTitle="RoadRunner">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>

<md-select *ngIf="persona.isFaculty" placeholder="Select Flight">
   <md-option *ngFor="let flight of flights" (click)="filter(flight)" [value]="flight">{{flight}}</md-option>
</md-select>

  <md-card *ngIf="persona.isFaculty">
    <p></p>
    <!--<md-card>-->
      <!--<md-select placeholder="Select Flight">
   <md-option *ngFor="" [value]=""></md-option>
</md-select>-->
<div>
  <span class="md-title">Students Signed Out For {{flightDisplayed}}</span>
</div>
<div *tdLoading="'roadRunnerLoading'">

  <!--<td-chips (add)="add($event)" [items]="flights" placeholder="Click to filter by Flight"
      [readOnly]="readOnly" requireMatch>
    </td-chips>-->
<!--<button md-raised-button color="primary" (click)="filter('Flight 17')">Filter</button>-->
<md-divider></md-divider>
    <td-data-table 
      [data] = "studentsOut"
      [columns] = "columns">

       <template tdDataTableTemplate="columnName" let-value="value" let-row="row" let-column="column">
   <div layout="row">
     <span flex>{{value}}</span> 
     
     
   </div>

 </template>
    
</td-data-table>
</div>
<p></p>
    
  <!--</md-card>-->
  </md-card>
  <!-- My code -->




  <md-card *ngIf="persona.isStudent" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <md-toolbar td-sidenav-content>
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">

        <span class="md-title">{{persona.person.firstName}} {{persona.person.lastName}}: Welcome to RoadRunner</span>




      </div>

    </md-toolbar>


    <div *tdLoading="'roadRunnerLoading'">
      <md-list class="will-load">

      
        <div *ngIf="roadRunnerInfos.length > 0">

          <ng-template let-rrData let-last="last" ngFor [ngForOf]="roadRunnerInfos">


            <div *ngIf="!rrData?.prevSignOut">
              <md-list-item>
                <!--<div *ngIf="rrData.splitLocation.length > 1">-->
                <h4 md-line *ngIf="rrData.splitLocation.length > 1"> {{rrData?.splitLocation[0]}} </h4>
                <p md-line *ngIf="rrData.splitLocation.length > 1">{{rrData?.splitLocation[1]}}</p>
                <!--</div>-->
                <h4 md-line *ngIf="rrData.splitLocation.length === 1"> {{rrData?.splitLocation[0]}}</h4>
                <p md-line></p>
                <p md-line hide-gt-xs class="md-caption" [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }} </p>
                <span md-line hide-gt-xs>
                  <a md-icon-button  color="primary" [routerLink]="[rrData.id]">
                    <md-icon >edit</md-icon>
                  </a>
                  <a *ngIf="!rrData?.signOut" md-icon-button  color="primary" (click)="signOut(rrData)">
                    <md-icon >directions_run</md-icon>
                  </a>
                  <a *ngIf="rrData?.signOut" md-icon-button  color="primary" (click)="signOut(rrData)">
                    <md-icon >keyboard_return</md-icon>

                  </a>
                </span>


                <span hide-xs flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                <div class="md-caption tc-grey-500" flex-gt-xs="50" >
                  Start Date: 
                  <span [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }}</span>
                </div>
                </span>

                <div class=" example-button-row" hide-xs flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <span style="padding-right:10px;">
                    <button md-raised-button color="primary" [routerLink]="[rrData.id]" >View/Edit</button>
                  </span>
                  <button *ngIf="!rrData?.signOut && !rrData?.prevSignOut" md-raised-button color="primary" (click)="signOut(rrData)">Sign Out</button>
                  <button *ngIf="rrData?.signOut" md-raised-button color="primary" (click)="signOut(rrData)">Sign In</button>
                </div>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </div>
          </ng-template>
        </div>

        <div *ngIf="roadRunnerInfos.length === 0">
          <h2>You have no locations loaded</h2>
        </div>
      
      </md-list>
    </div>
  </md-card>

  <md-card *ngIf="persona.isStudent" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

    <md-toolbar td-sidenav-content>
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">

        <span class="md-title">Completed</span>

      </div>
    </md-toolbar>

    <md-list class="will-load">

      <div *ngIf="roadRunnerInfos.length > 0">

        <ng-template let-rrData let-last="last" ngFor [ngForOf]="roadRunnerInfos">


          <div *ngIf="rrData?.prevSignOut">
            <md-list-item>

                <!--<div *ngIf="rrData.splitLocation.length > 1">-->
                <h4 md-line *ngIf="rrData.splitLocation.length > 1"> {{rrData?.splitLocation[0]}} </h4>
                <p md-line *ngIf="rrData.splitLocation.length > 1">{{rrData?.splitLocation[1]}}</p>
                <!--</div>-->
                <h4 md-line *ngIf="rrData.splitLocation.length === 1"> {{rrData?.splitLocation[0]}}</h4>
                <p md-line></p>



              <!--<h4 md-line>{{rrData?.location}} </h4>
              <p md-line></p>-->


              <p md-line hide-gt-xs class="md-caption" [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }} </p>
              <span md-line hide-gt-xs>
                <a md-icon-button  color="primary" [routerLink]="[rrData.id]">
                  <md-icon >content_copy</md-icon>
                </a>
            </span>

              <span flex></span>
              <span hide-xs flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50" >
                    Start Date: 
                    <span [innerHtml]="rrData?.leaveDate | date:'dd MMM yyyy'">{{ rrData?.leaveDate }}</span>
          </div>

          </span>

          <span hide-xs flex-gt-xs="60" flex-xs="40" layout-gt-xs="row" style="justify-content:space-around;">

            <button md-raised-button color="primary" [routerLink]="[rrData.id]">Clone</button>

          </span>

          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
      </div>
      </ng-template>
      </div>

    </md-list>

  </md-card>


</td-layout-nav>

<div *ngIf="persona.isStudent">
  <a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['New']">
    <md-icon>add</md-icon>
  </a>
</div>