<td-layout-nav logo="" toolbarTitle="ECAT - Road Runner">
    <div td-toolbar-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <span fxFlex></span>
        <a md-icon-button mdTooltip="Profile" routerLink="/profile">
            <md-icon>account_circle</md-icon>
        </a>
    </div>
  <!--faculty display-->
  <md-card *ngIf="persona.isFaculty">
    <p></p>
    <div>
      <span class="md-title">Students that are Signed Out for {{flightDisplayed}}</span>
    </div>
    <div *tdLoading="'roadRunnerLoading'">
      <td-chips [(ngModel)]="flightsModel" (add)="add()" (remove)="remove()" (inputChange)="filterFlights($event)" [items]="flights"
        placeholder="Click to filter by Flight" [readOnly]="readOnly" requireMatch>
      </td-chips>
      <div fxShow fxHide.xs="true">
        <td-data-table [data]="studentsOut" [columns]="columns">
          <ng-template tdDataTableTemplate="columnName" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <span flex>{{value}}</span>
            </div>
          </ng-template>
        </td-data-table>
      </div>
      <!--small screen faculty-->
      <div fxHide fxHide.xs="false">
        <td-data-table [data]="studentsOut" [columns]="columns2">
          <ng-template tdDataTableTemplate="columnName" let-value="value2" let-row="row" let-column="column">
            <div layout="row">
              <span flex>{{value2}}</span>
            </div>
          </ng-template>
        </td-data-table>
      </div>
    </div>
    <p></p>
  </md-card>
  <div *ngIf="persona.isStudent" class="pad-bottom-lg">
    <div *tdLoading="'roadRunnerLoading'">
      <roadrunner-locations [roadRunnerInfos]="roadRunnerInfos" (signOut)="signOut($event)"></roadrunner-locations>
      <roadrunner-completed [roadRunnerInfos]="roadRunnerInfos"></roadrunner-completed>
    </div>
  </div>
</td-layout-nav>
<div *ngIf="persona.isStudent">
  <a md-fab color="primary" class="mat-fab-bottom-right" [routerLink]="['New']" mdTooltip="Add Address" mdTooltipPosition="left">
    <md-icon>add</md-icon>
  </a>
</div>