<div class="width">

  <md-card>

    <md-card-title fxLayoutAlign="center center">{{cogName}}</md-card-title>

    <md-divider></md-divider>

    <md-card-content *ngIf="showInstructions">
      <div [innerHTML]="cogInventories[0].instrument.cogInstructions"></div>
    </md-card-content>

    <md-card-content *ngIf="!showInstructions">
      <div [ngSwitch]="cogAssessId" tdMediaToggle="gt-xs" class="pad-sm">
        <!--matches component variable -->
        <ecpe-assess *ngSwitchCase="1"> </ecpe-assess>
        <esalb-assess *ngSwitchCase="2"> </esalb-assess>
        <ecmspe-assess *ngSwitchCase="3"> </ecmspe-assess>
        <etmpre-assess *ngSwitchCase="4"> </etmpre-assess>
      </div>
    </md-card-content>

    <md-divider></md-divider>

    <md-card-actions *ngIf="showInstructions">
      <button md-button color="primary" (click)="showInstructions = false">Continue Assessment</button>
    </md-card-actions>

    <md-card-actions fxLayout="row" *ngIf="!showInstructions">
      <button md-button color="primary" (click)="showInstructions = true">Show Instructions</button>
      <div fxFlex></div>
      <button md-button color="primary" (click)="cancelAssess();">Cancel</button>
      <button md-button color="primary" [disabled]="!readyToSave" (click)="saveAssess();">Complete Assessment</button>
    </md-card-actions>

  </md-card>