<md-card class="width">
  <md-card-title>{{wgName}} Status</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-list>
      <md-list-item>
        <span fxFlex="45"></span>
        <span fxFlex="10">SELF</span>
        <span fxFlex="10">PEER</span>
        <span fxFlex="10">STRATS</span>
        <span fxFlex="15">COMMENTS</span>
        <span fxFlex="20">RESPONSE AGGREGATES</span>
      </md-list-item>
      <md-list-item *ngFor="let student of members">
        <span fxFlex="45">{{student.rankName}}</span>
        <span fxFlex="10"><md-icon *ngIf="student.check.isSelfDone">check</md-icon><md-icon *ngIf="!student.check.isSelfDone">clear</md-icon></span>
        <span fxFlex="10"><md-icon *ngIf="student.check.sp.isDone">check</md-icon><md-icon *ngIf="!student.check.sp.isDone" mdTooltip={{student.check.sp.count}} mdToolTipPosition="above">clear</md-icon></span>
        <span fxFlex="10"><md-icon *ngIf="student.check.strat.isDone">check</md-icon><md-icon *ngIf="!student.check.strat.isDone" mdTooltip={{student.check.sp.count}} mdToolTipPosition="above">clear</md-icon></span>
        <span fxFlex="15" class="text-center">{{student.numberOfAuthorComments}}</span>
        <span fxFlex="20">
          <ngx-charts-pie-chart
            [view]="[75, 75]"
            [scheme]="chartColors"
            [results]="student.statusOfStudent.gaveBreakOutChartData"
            (select)="onSelect($event)">
          </ngx-charts-pie-chart>
        </span>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="this.location.back()">Back</button>
    <span fxFlex></span>
    <button md-raised-button (click)="this.refreshData()">Refresh</button>
    <button md-raised-button (click)="this.reviewFlight()" [ngClass]="canReview ? 'can-review' : 'no-review'">Review Flight</button>
  </md-card-actions>
</md-card>