<md-card-title>Edit Flight</md-card-title>
<md-list>
  <form [formGroup]="editGroupForm" (ngSubmit)="save()">
    <md-list-item class="pull-left-md">
      <md-icon md-list-avatar>description</md-icon>
      <md-input-container class="pad-left-sm">
        <input mdInput placeholder="Name" id="defaultName" value="workGroup.defaultName" required type="text" formControlName="defaultName" />
      </md-input-container>
      <!-- <div *ngIf="formErrors.name">
        {{formErrors.name}}
      </div> -->
    </md-list-item>
    <md-list-item class="pull-left-md">
      <md-icon md-list-avatar>description</md-icon>
      <md-input-container class="pad-left-sm">
        <input mdInput placeholder="Nickname" id="customName" value="workGroup.customName" type="text" formControlName="customName" />
      </md-input-container>
    </md-list-item>
  </form>
</md-list>
<md-card-actions class="pad-top-sm pad-bottom-none pull-left-sm pull-bottom-none">
  <div class="pad-left-sm" fxLayout="row" fxLayoutAlign="start center">
    
    <button md-raised-button color="accent" type="button" [disabled]="isDisabled()" (click)="save()" class="text-upper">Ok</button>
    <button md-raised-button color="accent" type="button" class="text-upper" (click)="close();">Cancel</button>
    <button md-raised-button color="accent" type="button" class="text-upper" (click)="delete()">Delete</button>
    
  </div>
</md-card-actions>