<md-card class="width">
  <md-card-title> Edit Course Information </md-card-title>
  <md-card-content>
    <form #courseInfoForm="ngForm">
        <div layout-gt-xs="row" layout-margin>
          <md-input-container flex>
            <input mdInput #classNumInput="ngModel" placeholder="Class Number" [(ngModel)]="course.classNumber" name="classNumber"
              maxlength="10" tdAutoTrim required/>
            <md-hint>
              <span [hidden]="classNumInput.pristine" class="tc-red-600"></span>
            </md-hint>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <md-input-container flex>
            <input mdInput [min]="minDate" [max]="maxDate" #startForm="ngModel" [ngModelOptions]="{standalone: true}" [mdDatepicker]="start"
              [(ngModel)]="course.startDate" placeholder="Start Date" required/>
            <button mdSuffix [mdDatepickerToggle]="start"></button>

          </md-input-container>
          <md-datepicker #start [touchUi]="touch" [startAt]="course.startDate"></md-datepicker>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <md-input-container flex>
            <button mdSuffix [mdDatepickerToggle]="grad"></button>
            <input mdInput [min]="course.startDate" [max]="maxDate" #gradForm="ngModel" [ngModelOptions]="{standalone: true}" [mdDatepicker]="grad"
              placeholder="Grad Date" [(ngModel)]="course.gradDate" required/>
            <md-error *ngIf="gradForm.hasError('mdDatepickerMin')">Please select date after the start date!</md-error>

          </md-input-container>
          <md-datepicker #grad [touchUi]="touch" [startAt]="course.gradDate"></md-datepicker>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <md-input-container flex>
            <input mdInput #displayNameInput="ngModel" placeholder="Display Name" [(ngModel)]="course.name" name="name" tdAutoTrim required/>
            <md-hint>
              <span [hidden]="displayNameInput.pristine" class="tc-red-600"></span>
            </md-hint>
          </md-input-container>
        </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <span fxFlex></span>
    <button md-raised-button color="accent" (click)="this.cancel()">Cancel</button>
    <button md-raised-button color="accent" (click)="this.save()" [disabled]="!courseInfoForm.dirty && !startForm.dirty && !gradForm.dirty">Save</button>
  </md-card-actions>
</md-card>