<md-card>
  <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="replace" tdLoadingType="circle">
    <md-list>
      <md-list-item>
        <span fxFlex="30">Name</span>
        <span fxFlex="30">Class</span>
        <span fxFlex="30">Start Date</span>
        <span fxFlex="30">Grad Date</span>
        <span fxFlex="10"></span>
      </md-list-item>
      <md-list-item *ngFor="let course of courses">
        <span fxFlex="30">
          <h3 class="md-subhead">{{course.name}}</h3>
        </span>
        <span fxFlex="30">
          <h3 class="md-subhead">{{course.classNumber}}</h3>
        </span>
        <span fxFlex="30">
          <h3 class="md-subhead">{{course.displayStart}}</h3>
        </span>
        <span fxFlex="30">
          <h3 class="md-subhead">{{course.displayEnd}}</h3>
        </span>
        <div fxFlex="10">
          <md-menu #appMenu="mdMenu" yPosition="below" xPosition="before">
            <button md-menu-item > 
              <md-icon> info_outline </md-icon>
              <span class="md-subhead"> Course Information </span>
            </button>
            <md-divider></md-divider>
            <button md-menu-item [routerLink]="[course.id + '/enrollments']"> 
              <md-icon> people_outline </md-icon>
              <span class="md-subhead"> Course Enrollments </span>
            </button>
            <button md-menu-item [routerLink]="[course.id + '/groupsets']"> 
              <md-icon> library_books </md-icon>
              <span class="md-subhead"> Group Management </span>
            </button>
          </md-menu>

          <button md-icon-button [mdMenuTriggerFor]="appMenu">
            <md-icon>more_vert</md-icon>
          </button>
        </div>
      </md-list-item>
    </md-list>
  </ng-template>
</md-card>
