<md-card>
  <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="replace" tdLoadingType="circle">
    <md-card-title>
      <div fxFlex="100" class="text-center">
        ISA Home - Course List
      </div>
      <span fxFlex></span>
      <button md-raised-button (click)="this.pollCourses()">Poll LMS Courses</button>
      <button md-icon-button (click)="this.refreshData()"><md-icon>autorenew</md-icon></button>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item>
          <span fxFlex="30">NAME</span>
          <span fxFlex="30">CLASS</span>
          <span fxFlex="30">START DATE</span>
          <span fxFlex="30">GRAD DATE</span>
          <span fxFlex="10"></span>
        </md-list-item>
        <md-list-item *ngFor="let course of courses">
          <span fxFlex="30">
            <h3 class="md-subhead">{{course.name}}</h3>
          </span>
          <span fxFlex="30">
            <h3 class="md-subhead">{{course.classNumber}}</h3>
          </span>
          <span fxFlex="30">
            <h3 class="md-subhead">{{course.displayStart}}</h3>
          </span>
          <span fxFlex="30">
            <h3 class="md-subhead">{{course.displayGrad}}</h3>
          </span>
          <div fxFlex="10">
            <md-menu #appMenu="mdMenu" yPosition="below" xPosition="before">
              <button md-menu-item [routerLink]="[course.id + '/info']"> 
                <md-icon> info_outline </md-icon>
                <span class="md-subhead"> Course Information </span>
              </button>
              <md-divider></md-divider>
              <button md-menu-item [routerLink]="[course.id + '/enrollments']"> 
                <md-icon> people_outline </md-icon>
                <span class="md-subhead"> Course Enrollments </span>
              </button>
              <button md-menu-item [routerLink]="[course.id + '/groupsets']"> 
                <md-icon> library_books </md-icon>
                <span class="md-subhead"> Group Management </span>
              </button>
            </md-menu>

            <button md-icon-button [mdMenuTriggerFor]="appMenu">
              <md-icon>more_vert</md-icon>
            </button>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </ng-template>
</md-card>
