<!--    <div fxLayout="row" fxLayoutAlign="center center" class="pad-sm" *ngIf="!cogInventory.isReversed">
      <div fxFlex>
       {{cogInventory.adaptiveDescription}}
      </div>
      <div fxFlex>
        {{cogInventory.innovativeDescription}}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="pad-sm" *ngIf="cogInventory.isReversed">
      <div fxFlex>
        {{cogInventory.innovativeDescription}}
      </div>
      <div fxFlex>
         {{cogInventory.adaptiveDescription}}
      </div>
    </div>-->
<!--<div>
    <div>
        <div class="row p-b-5" ng-if="!cogAssess.activeInvent.isReversed">
            <div class="col-sm-5 text-left p-l-10">
                {{cogAssess.activeInvent.adaptiveDescription}}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 text-right p-r-10">
                {{cogAssess.activeInvent.innovativeDescription}}
            </div>
        </div>
        <div class="row p-b-5" ng-if="cogAssess.activeInvent.isReversed">
            <div class="col-sm-5 text-left p-l-10">
                {{cogAssess.activeInvent.innovativeDescription}}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 text-right p-r-10">
                {{cogAssess.activeInvent.adaptiveDescription}}
            </div>
        </div>
        <div class="row hidden-xs" style="padding-left: 7px; padding-right: 3px;">
            <svg height="50" width="563">
                <polygon points="{{cogAssess.svg1x}},{{cogAssess.svg1y}} {{cogAssess.svg2x}},{{cogAssess.svg2y}} {{cogAssess.svg3x}},{{cogAssess.svg3y}}" fill="#365F7F"></polygon>
            </svg>
        </div>
        <div class="row p-b-20 p-r-15 p-l-15">
            <div cog-slider
                    id="slider"
                    ng-model="cogAssess.activeInvent.response.itemScore"
                    cogType="ecpe"
                    ng-click="cogAssess.activeInvent.isChanged=true"></div>
        </div>
    </div>
</div>-->