md-slider {
  width: 675px;
  color: #ffffff;
}

:host /deep/ {
    .mat-slider-track-fill {
  
    background-color: #aaaaaa;
  }

  .mat-slider-track-fill {
    background-color: #aaaaaa;
    
  }
}
