<div>

    <div>

        <div fxLayout="column">

            <div *ngIf="!activeInventory.isReversed">
                <div fxFlex="40" class="md-caption">
                    {{activeInventory.adaptiveDescription}}
                </div>
                <div fxFlex="20"></div>
                <div fxFlex="40" class="md-caption text-right">
                    {{activeInventory.innovativeDescription}}
                </div>
            </div>

            <div *ngIf="activeInventory.isReversed">
                <div fxFlex="40" class="md-caption">
                    {{activeInventory.innovativeDescription}}
                </div>
                <div fxFlex="20"></div>
                <div fxFlex="40" class="md-caption text-right">
                    {{activeInventory.adaptiveDescription}}
                </div>
            </div>

        </div>

        <div class="pad-top-sm" style="padding-left: 0px; padding-right: 0px;">
            <svg height="50" width="675">
                <svg:polygon [attr.points]="points" fill="#365F7F">
                    </polygon>
            </svg>
        </div>

        <md-slider color="primary" (input)="slide($event.value)" [(ngModel)]="activeInventory.response.itemScore" min="1" max="1000"
            tickInterval="1">
        </md-slider>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button md-raised-button color="primary" [disabled]="activeInventory.displayOrder===inventories[0].displayOrder" (click)="previousInventory();">Previous</button>
        <p class="pad-left-sm pad-right-sm">Item {{activeInventory.displayOrder}} of {{inventories.length}} </p>
        <button md-raised-button color="primary" [disabled]="activeInventory.displayOrder===inventories[inventories.length - 1].displayOrder"
            (click)="nextInventory();">Next</button>
    </div>

</div>