<div class="width">
  <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay">
    <md-card>
      <md-card-title>
        <div fxFlex>
          <button md-raised-button (click)="this.location.back()">Back</button>
        </div>
        <div fxFlex="100" class="text-center">
          {{wgName}} - {{workGroup.mpSpStatus}}
        </div>
        <div fxFlex>
          <button md-raised-button (click)="this.reviewFlight()" [ngClass]="canReview ? 'can-review' : 'no-review'" [disabled]="workGroup.mpSpStatus === 'Published'">{{reviewBtnText}}</button>
        </div>
      </md-card-title>
      <md-divider></md-divider>
      <md-tab-group md-stretch-tabs>
        <md-tab>
          <ng-template md-tab-label>
            Assess
            <md-icon [ngClass]="(assessComplete) ? 'tc-green-700' : 'tc-red-700'">{{assessStatusIcon}}</md-icon>
          </ng-template>
          <assess [members]="members"></assess>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            Strat
            <md-icon [ngClass]="(stratComplete) ? 'tc-green-700' : 'tc-red-700'">{{stratStatusIcon}}</md-icon>
          </ng-template>
          <strat [members]="members"></strat>
        </md-tab>
        <md-tab [disabled]="!showComments">
          <ng-template md-tab-label>
            Review Comments
            <md-icon *ngIf="!showComments">lock</md-icon>
            <md-icon *ngIf="showComments" [ngClass]="(commentsComplete) ? 'tc-green-700' : 'tc-red-700'">{{commentStatusIcon}}</md-icon>
          </ng-template>
          <comments [members]="members"></comments>
        </md-tab>
      </md-tab-group>
    </md-card>
  </ng-template>

  <a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['../../status', workGroupId]"><md-icon>check</md-icon></a>
</div>