<td-layout #layout>
  <td-navigation-drawer logo="assets:covalent" sidenavTitle="" name={{persona?.person?.firstName}}{{persona?.person?.lastName}}  email={{persona?.person?.email}}>
    <md-nav-list>
        <a md-list-item routerLink="/dashboard" (click)="layout.close()"><md-icon>dashboard</md-icon>Home</a>
        <a md-list-item routerLink="/users" (click)="layout.close()"><md-icon>people</md-icon>Users</a>
        <a md-list-item routerLink="/student/assessment" (click)="layout.close()"><md-icon>people</md-icon>Student</a>
        <a md-list-item routerLink="/cognitives" (click)="layout.close()"><md-icon>trending_up</md-icon>Cognitives</a>
        <a *ngIf="isFaculty" md-list-item routerLink="/faculty" (click)="layout.close()"><md-icon>people</md-icon>Faculty</a>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item routerLink="/profile" (click)="layout.close()"><md-icon>account_circle</md-icon>Profile</a>
      <a md-list-item (click)="logout(); layout.close();"><md-icon>exit_to_app</md-icon>Sign out</a>
    </md-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>