<div fxLayout="column" fxLayoutGap="15px">

    <div>
        <div fxLayoutAlign="center center" class="text-xxl">
            {{activeInventory.itemDescription}}
        </div>
    </div>

    <div>

        <md-grid-list cols="5" >
            <md-grid-tile >Never</md-grid-tile>
              <md-grid-tile >Seldom</md-grid-tile>
              <md-grid-tile >Usually</md-grid-tile>
              <md-grid-tile >Mostly</md-grid-tile>
              <md-grid-tile >Always</md-grid-tile>
        </md-grid-list>

        <div>
            <div>
                <md-slider color="primary" (input)="slide($event.value)" [(ngModel)]="activeInventory.response.itemScore" min="1" max="1000"
                    tickInterval="1">
                </md-slider>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" >
        <button md-raised-button color="primary" [disabled]="activeInventory.displayOrder===inventories[0].displayOrder" (click)="previousInventory();">Previous</button>
        <p class="pad-left-sm pad-right-sm">Item {{activeInventory.displayOrder}} of {{inventories.length}} </p>
        <button md-raised-button color="primary" [disabled]="activeInventory.displayOrder===inventories[inventories.length - 1].displayOrder"
            (click)="nextInventory();">Next</button>
    </div>

</div>