.flex-container {
    display: flex;
    width: 920px;
    margin: .5em auto ;
}

md-card {
    max-width: 75%;
    //width: 920px;
    //margin: .5em auto ;
    //align-self: center;
    height: 300px;
    padding-bottom: 1%
}

md-card-content {
    p {
        padding-bottom:2%;
        font-size: 18px;
    }
}

md-nav-list{
     float: right; 
     padding-left: 2%;
}

h4 {
    color:#3e6d92; 
    margin-bottom:5px;
}

// .HEA { color: darkblue; }
// .HEU { color: blue; }
// .EA { color: darkgreen; }
// .EU { color: green; }
// .IEA {color: darkred }
// .IEU { color: red; }
// .ND { color: gray; }

.btn-selected { 
    background-color: #3e6d92; 
    color: white; 
}

.inv-selected {
    border-left-color: #3e6d92;
    border-left-width: 2px;
    border-left-style: solid;
}

:host /deep/ { 
    .mat-list .mat-list-item.mat-2-line .mat-list-item-content, .mat-nav-list .mat-list-item.mat-2-line .mat-list-item-content {
        height: 55px;
    }

    .mat-list-item {
        height: 55px;
    }
}
