<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" color="primary" opened="true" style="width:257px;border-right:1px solid #ccc">
    <div flex class="md-content ">
      <md-nav-list>
        <td-expansion-panel *ngIf="readOnly" label="Unassigned Students"  [expand]="isUnassignedPanelExpanded">
          <div id="unassigned" style="min-height: 50px;">
            <p [id]="unassignedStudent.studentId" [myHighlight]="unassignedStudent.highlighted" (mouseover)="hovered = unassignedStudent.studentId"
              (mouseout)="hovered = null" fxFlexOffset="5%" class="push-none pad-xs md-caption" *ngFor="let unassignedStudent of unassignedStudents">
              {{unassignedStudent.rankName}}</p>
          </div>
        </td-expansion-panel>
        <td-expansion-panel *ngIf="!readOnly" label="Unassigned Students"  [expand]="isUnassignedPanelExpanded">
          <div id="unassigned" style="min-height: 50px;" [dragula]='"bag-one"' [dragulaModel]='unassignedStudents'>
            <p [id]="unassignedStudent.studentId" [myHighlight]="unassignedStudent.highlighted" [ngClass]="{'selected': hovered === unassignedStudent.studentId}"
              (mouseover)="hovered = unassignedStudent.studentId" (mouseout)="hovered = null" fxFlexOffset="5%" class="push-none pad-xs md-caption"
              *ngFor="let unassignedStudent of unassignedStudents">
              {{unassignedStudent.rankName}}</p>
          </div>
        </td-expansion-panel>
        <td-expansion-panel label="Roster Changes" [disabled]="changes.length === 0">

          <div *ngFor="let change of changes" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlexOffset="5%"></div>
            <p class="push-none pad-xs md-caption">
              {{change.changeDescription}}
            </p>
            <div fxFlex></div>
            <a md-icon-button mdTooltip="Click to Undo Change" (click)="undoChange(change)">
              <md-icon>close</md-icon>
            </a>
          </div>

        </td-expansion-panel>
      </md-nav-list>
    </div>
  </md-sidenav>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="pad-right-sm pad-left-sm">
    <button type="button" md-raised-button color="primary"  [routerLink]="['../..']">Back</button>
    <td-search-box [showUnderline]="true" (search)="search($event)" (clear)="clear($event)" backIcon="arrow_back" placeholder="Search here"
      [alwaysVisible]="false" flex></td-search-box>
    <button [ngClass]="canSaveFlag ? '' : 'can-save'" [disabled]="!changesToSave()" (click)="save()" type="button" md-raised-button color="primary">Save</button>
    <button (click)="reset(false)" type="button" md-raised-button color="primary">Reset</button>
    <md-slide-toggle class="example-margin" [(ngModel)]="allExpanded" (change)="expandOrCollapseAll()" >
      {{(allExpanded) ? 'Collapse' : 'Expand'}} All
    </md-slide-toggle>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
    <div fxFlex="25%" *ngFor="let workGroup of workGroups">
      <md-card *ngIf="readOnly">
        <td-expansion-panel [expand]="workGroup.isExpanded">
          <ng-template td-expansion-panel-label>
            <md-icon>lock_outline</md-icon>
            <span>{{workGroup.defaultName}} - ({{workGroup.groupMembers.length}})</span>
          </ng-template>
          <td-expansion-summary>
            <div fxLayout="row" class="bgc-grey-50 pad-left-md pad-right-md pad-top-sm">
              <span fxFlex>{{(workGroup.customName) ? workGroup.customName : 'N/A'}}</span>
              <a fxFlexAlign="end center" md-icon-button mdTooltip="Click to edit Flight" (click)="editGroup(workGroup)">
                <md-icon>edit</md-icon>
              </a>
            </div>
          </td-expansion-summary>
          <md-divider></md-divider>
          <md-card-content>
            <div style="min-height: 50px" [id]="workGroup.workGroupId">
              <p *ngFor="let groupMember of workGroup.groupMembers trackBy:groupMember?.studentId" [id]="groupMember.studentId" [myHighlight]="groupMember.highlighted"
                (mouseover)="hovered = groupMember.studentId" (mouseout)="hovered = null" class="md-caption push-none pad-xs">
                {{groupMember.rankName}}
              </p>
            </div>
          </md-card-content>
        </td-expansion-panel>
      </md-card>


      <md-card *ngIf="!readOnly">
        <td-expansion-panel  [expand]="workGroup.isExpanded">
          <ng-template td-expansion-panel-label>
            <md-icon *ngIf="!workGroup.canEdit">lock_outline</md-icon>
            <span>{{workGroup.defaultName}} - ({{workGroup.groupMembers.length}})</span>
          </ng-template>
          <td-expansion-summary>
            <div fxLayout="row" class="bgc-grey-50 pad-left-md pad-right-md pad-top-sm">
              <span fxFlex>{{(workGroup.customName) ? workGroup.customName : 'N/A'}}</span>
              <a fxFlexAlign="end center" md-icon-button mdTooltip="Click to edit Flight" (click)="editGroup(workGroup)">
                <md-icon>edit</md-icon>
              </a>
            </div>
          </td-expansion-summary>
          <md-divider></md-divider>
          <md-card-content *ngIf="!workGroup.canEdit">
            <div style="min-height: 50px" [id]="workGroup.workGroupId">
              <p *ngFor="let groupMember of workGroup.groupMembers trackBy:groupMember?.studentId" [id]="groupMember.studentId" [myHighlight]="groupMember.highlighted"
                (mouseover)="hovered = groupMember.studentId" (mouseout)="hovered = null" class="md-caption push-none pad-xs">
                {{groupMember.rankName}}
              </p>
            </div>
          </md-card-content>
          <md-card-content *ngIf="workGroup.canEdit">
            <div style="min-height: 50px" [id]="workGroup.workGroupId" [dragula]='"bag-one"' [dragulaModel]='workGroup.groupMembers'>
              <p *ngFor="let groupMember of workGroup.groupMembers trackBy:groupMember?.studentId" [id]="groupMember.studentId" [myHighlight]="groupMember.highlighted"
                [ngClass]="{'selected': hovered === groupMember.studentId}" (mouseover)="hovered = groupMember.studentId" (mouseout)="hovered = null"
                class="md-caption push-none pad-xs">
                {{groupMember.rankName}}
              </p>
            </div>
          </md-card-content>
          </td-expansion-panel>
      </md-card>
    </div>
  </div>
</md-sidenav-container>
<a *ngIf="!readOnly" md-fab (click)="addGroup()" color="primary" class="mat-fab-bottom-right fixed fab-pad"
mdTooltip="Add Flight" mdTooltipPosition="left">
  <md-icon>add</md-icon>
</a>