@mixin md-icon-size($size: 18px) {
    font-size: $size;
    height: $size;
    width: $size;

}

.material-icons.mat-icon{
    @include md-icon-size(18px);
}

.ex-moved {
    background-color: blueviolet;
}

.ex-over {
    background-color: yellow;
}

