<div class="flex-container">
  <h4 md-dialog-title>Polling LMS Information</h4>
  <md-dialog-content>
    <md-list *ngIf="pollComplete == false">
      <md-list-item>
        Getting Course Enrollments...
        <md-progress-bar mode="indeterminate" *ngIf="enrollComplete == false"></md-progress-bar>
        <md-icon class="tc-green-700" *ngIf="enrollComplete == true">check</md-icon>
      </md-list-item>
      <md-list-item *ngIf="enrollComplete == true">
        Getting Groups...
        <md-progress-bar mode="indeterminate" *ngIf="groupsComplete == false"></md-progress-bar>
        <md-icon class="tc-green-700" *ngIf="groupsComplete == true">check</md-icon>
      </md-list-item>
      <md-list-item *ngIf="groupsComplete == true">
        Getting Group Memberships...
        <md-progress-bar mode="indeterminate" *ngIf="grpMemsComplete == false"></md-progress-bar>
        <md-icon class="tc-green-700" *ngIf="grpMemsComplete == true">check</md-icon>
      </md-list-item>
    </md-list>
    <div *ngIf="pollComplete === true">
      <md-list>
        <md-list-item>Course Enrollment Results: </md-list-item>
        <md-list-item *ngIf="enrollResult.numOfAccountCreated > 0">Accounts Created: {{enrollResult.numOfAccountCreated}} </md-list-item>
        <md-list-item *ngIf="enrollResult.numAdded > 0">Enrollments Added: {{enrollResult.numAdded}}</md-list-item>
        <md-list-item *ngIf="enrollResult.numRemoved > 0">Enrollments Removed: {{enrollResult.numRemoved}} </md-list-item>
        <md-list-item *ngIf="enrollResult.numRemoved === 0 && enrollResult.numAdded === 0 && enrollResult.numOfAccountCreated === 0">No Changes </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <md-list>
        <md-list-item>Group Results: </md-list-item>
        <md-list-item *ngIf="groupsResult.numAdded > 0">Groups Added: {{groupsResult.numAdded}} </md-list-item>
        <md-list-item *ngIf="groupsResult.numRemoved > 0">Groups Removed: {{groupsResult.numRemoved}} </md-list-item>
        <md-list-item *ngIf="groupsResult.numRemoved === 0 && groupsResult.numAdded === 0">No Changes </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <md-list>
        <md-list-item>Group Memerships Results:</md-list-item>
        <md-list-item *ngFor="let result of grpMemResults">
          {{result.workGroupName}} - Added: {{result.numAdded}} Removed: {{result.numRemoved}}
        </md-list-item>
      </md-list>
    </div>
    <div *ngIf="pollFail === true">
      {{failMessage}}
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button [disabled]="!pollComplete && !pollFail" md-raised-button (click)="close()">Close</button>
  </md-dialog-actions>
</div>