<p>
  esalbecmspe-assess works!
</p>
<!--<div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">{{cogAssess.activeInvent.itemDescription}}</p>
        </div>
    </div>

    <div class="row p-l-20 p-r-20 p-b-20" ng-if="cogAssess.cogType==='ESALB'">
        <div class="row p-b-5 p-l-10 p-r-10">
            <p class="col-sm-2 text-left">Never</p>
            <p class="col-sm-3 text-center">Seldom</p>
            <p class="col-sm-2 text-center">Usually</p>
            <p class="col-sm-3 text-center">Mostly</p>
            <p class="col-sm-2 text-right">Always</p>
        </div>
        <div>
            <div cog-slider
                    id="slider"
                    ng-model="cogAssess.activeInvent.response.itemScore"
                    cogType="esalb"
                    ng-click="cogAssess.activeInvent.isChanged=true"></div>
        </div>
    </div>
    <div class="row p-b-20" ng-if="cogAssess.cogType==='ECMSPE'">
        <div class="col-sm-4"></div>
        <div class="col-sm-1">
            <div cog-slider
                 id="slider"
                 ng-model="cogAssess.activeInvent.response.itemScore"
                 cogType="ecmspe"
                 ng-click="cogAssess.activeInvent.isChanged=true"></div>
        </div>
        <div class="col-sm-4">
            <p class="text-center">Just like me</p>
            <br />
            <p class="text-center">Quite a lot like me</p>
            <br />
            <p class="text-center">Somewhat like me</p>
            <br />
            <p class="text-center">Not much like me</p>
            <br />
            <p class="text-center">Not at all like me</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>-->
