<td-layout-nav logo="" toolbarTitle="Dashboard">
    <div td-toolbar-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <span fxFlex></span>
        <a md-icon-button mdTooltip="Profile" routerLink="/profile">
            <md-icon>account_circle</md-icon>
        </a>
    </div>
    <td-layout-card-over cardTitle="Attention" cardSubtitle="Welcome to the ECAT" cardWidth="75">
    </td-layout-card-over>
    <td-layout-footer>
        Optional footer
    </td-layout-footer>
</td-layout-nav>