<td-layout-nav logo="" toolbarTitle="ECAT - Dashboard">
    <div td-toolbar-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <span fxFlex></span>
        <a md-icon-button mdTooltip="Profile" routerLink="/profile">
            <md-icon>account_circle</md-icon>
        </a>
    </div>
    <td-layout-card-over cardTitle="Welcome"  cardWidth="75">
        <md-card-content>
            <h3 class="tc-red-800">Notice - Message From Admin</h3>
            <p>ECAT is designed to work with the latest browser technology. 
                There will be compatibility issues with older versions of Internet Explorer. 
                If you are having issues using ECAT please upgrade your browser to Chrome, Firefox, or Microsoft Edge 
                (formerly IE) or ask your Instructor for assistance.</p>
        </md-card-content>
    </td-layout-card-over>
    <td-layout-footer>
        Barnes Center for Enlisted Education
    </td-layout-footer>
</td-layout-nav>