

.button-row{
    
    padding-right: 10px;
    text-align: center;

      display: flex;
  align-items: center;
  justify-content: flex-end;
}

md-card {
        max-width: 80%;
        width: 600px;
        margin: 3em auto ;
    }