<div layout="column" layout-fill>
    <md-toolbar color="primary" class="md-whiteframe-z1">
    </md-toolbar>
    <div class="md-content" layout-padding flex>
      <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
        <div flex-gt-xs="50">
          <md-card tdMediaToggle="gt-xs">
            <md-card-title>Page Not Found</md-card-title>
            <md-divider></md-divider>
            <md-card-content>
              <h4>The page you were looking for could not be found.</h4>
            </md-card-content>
          </md-card>
        </div>
      </div>    
    </div>
  </div>