<div layout="column" layout-fill>
    <div class="mat-content" layout-padding flex>
      <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
        <div flex-gt-xs="50">
          <mat-card tdMediaToggle="gt-xs">
            <mat-card-title>Page Not Found</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <h4>The page you were looking for could not be found.</h4>
              <h4>Click <a [routerLink]="['/cognitives']">here</a> to return home</h4>
            </mat-card-content>
          </mat-card>
        </div>
      </div>    
    </div>
  </div>