.width {
    max-width: 600px;
    //width: 800px;
    margin: 0 auto;
}

:host /deep/ {
    .tab-icon {
    vertical-align: middle;
    font-size: 28px;
    }
    .small-tab-icon {
        vertical-align: super;
        font-size: 18px;
    }
}