<ng-template tdLoading="assessIsLoaded">
  <md-list class="will-load">
    <md-list-item>
      <md-icon md-list-avatar>person</md-icon>
      <h3 md-line> {{user?.rankName}} </h3>
      <span flex="70" class="pad-right-lg md-body-1 tc-grey-500">
        <button md-button [routerLink]="['assess/' + user.studentId]"><md-icon>{{user?.assessText}}</md-icon> Assessment </button>
        </span>
      <span flex="60" class="pad-right-lg md-body-1 tc-grey-500">
        
        </span>
      <span flex></span>
    </md-list-item>
    <md-divider class="bgc-dark-orange-500" md-inset></md-divider>

    <ng-template let-peer let-last="last" ngFor [ngForOf]="peers">
      <md-list-item>
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line> {{peer?.rankName}} </h3>
        <span flex="70" class="pad-right-lg md-body-1 tc-grey-500">
          <button md-button [routerLink]="['assess/' + peer.studentId]"><md-icon>{{peer?.assessText}}</md-icon> Assessment</button>
        </span>
        <span flex="60" class="pad-right-lg md-body-1 tc-grey-500">
          <button md-button (click)="comment(peer)"><md-icon>{{peer?.commentText}}</md-icon> Comment</button>
        </span>
        <span flex></span>
      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </md-list>
</ng-template>

